.images_container {
  display: grid;
  user-select: none;
  place-content: center;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(21rem, 1fr));
}

.name {
  margin: 0 auto 2rem auto;
  font-weight: 300;
  width: max-content;
  border-bottom: 1px solid black;
}
.image_container {
  overflow: hidden;
  width: 20rem;
}
.image_container img {
  width: 20rem;
}
