.person_container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
.person_id {
  opacity: 0.5;
}
.person_profileimage {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  width: 50%;
  border-radius: 0.5rem;
  max-width: 30rem;
  aspect-ratio: 1/1;
  overflow: hidden;
}
.person_profileimage img {
  width: 100%;
}
.person_fields {
  width: 50%;
  max-width: 30rem;
}
.field_viewer {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: larger;
}

.person_fab {
  display: flex;
  gap: 1rem;
}

.person_fabutton:hover,
.person_fabutton_red:hover {
  filter: brightness(90%);
}
.person_fabutton:active,
.person_fabutton_red:active {
  transform: scale(110%);
}
.person_fabutton{
  cursor: pointer;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 100%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: 200ms cubic-bezier(0.19, 1, 0.22, 1);
  background-color: #007aff;
}

.separator {
  display: block;
  text-align: center;
  font-size: larger;
  position: relative;
  margin: 1rem;
}
.separator::before {
  content: "";
  width: 40%;
  height: 1px;
  position: absolute;
  border-bottom: 1px solid black;
  top: 50%;
  left: 1px;
}
.separator::after {
  content: "";
  width: 40%;
  height: 1px;
  position: absolute;
  border-bottom: 1px solid black;
  top: 50%;
  right: 1px;
}

.person_images {
  width: 50%;
  max-width: 30rem;
  text-align: center;
}

.person_images_container{
  width: 100%;
  display: flex;
  justify-content: center;
}
.person_image{
  transition: 200ms cubic-bezier(0.19, 1, 0.22, 1);
}
.person_image:hover{
  transform: scale(110%);
}